@model LoginViewModel
@{
    Layout = null;
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="~/css/home.css" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="sidenav">
    <div class="login-main-text">
        <img style="clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);" src="image/LogoSemFundo.png" />
        <br />
        <h3 style="font-size: 1.65rem;">Gestão inteligente, Gastos conscientes</h3>
        <br />
        <p style="text-align:center; margin-left:-5px;">Faça login ou registre-se para acessar.</p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <form action="/login/login" method="post">
                <div class="form-group">
                    <label for="Login">Usuario</label>
                    <input asp-for="Login" class="form-control" placeholder="Usuario">
                    <span asp-validation-for="Login" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input asp-for="Senha" type="password" class="form-control" placeholder="Senha">
                    <span asp-validation-for="Senha" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn" style="background-color: #1b70c3; color:#ffffff">Login</button>
            <a type="button" class="btn btn-secondary" style="background-color: #02294e; color:#ffffff" href="@Url.Action("Create", "Login")">Registre-se</a>
            </form>
        </div>
    </div>
</div>
