@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutSideBar";
}

<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/js/home.js"></script>
</head>
<div class="container">
    <canvas id="myChart"></canvas>
</div>

